$border-radius:100px;
$white-color: hsl(0, 0%, 100%);

// for header
$main-bg-color:hsl(8deg 99% 72%);
$header-main-text-color:hsl(180deg 100% 98%);
$nav-item-color:hsl(5deg 96% 90%);
$btn-color:hsl(347deg 66% 60%);
$btn-border-radius:30px;

// for main-section
$m-150:150px;
$p-30:30px;
$fs-30:30px;
$pt-120:120px;
$mb-40:40px;
$mb-20:20px;