.section-wrapper {
    margin-top: 50px;

    .sub-heading-text {
        text-align: center;
        font-size: 45px;
        color: hsl(206deg 44% 22%);
    }

    .design-wrapper {
        margin-left: $m-150;
        margin-bottom: $m-150;
        position: relative;

        .left-side {
            padding-top: $pt-120;
        }

        h3 {
            font-size: $fs-30;
            color: hsl(206deg 36% 21%);
            margin-bottom: $mb-20
        }

        p {
            color: hsl(228deg 2% 54%);
            margin-bottom: $mb-40;
            line-height: 25px;
        }

        .image-wrapper-desktop {
            position: absolute;
            right: -5%;
            top: 0;
            height: 600px;
            width: 600px;

            img {
                @include img-size
            }
        }

        .image-wrapper-mobile {
            display: none;
        }

    }

    .mobile-design-wrapper {
        margin-bottom: $m-150;
        background-color: hsl(236deg 21% 29%);
        border-bottom-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        position: relative;

        .bg-wrapper {
            background: url(/images/bg-pattern-circles.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        .image-wrapper {
            height: 400px;
            width: 400px;
            margin-left: $m-150;
            position: absolute;
            left: 0%;
            top: -25%;

            img {
                @include img-size;
                margin-left: -25px;
            }
        }

        .mobile-detail {
            padding-top: 80px;

            h3 {
                font-size: $fs-30;
                color: hsl(180deg 100% 100%);
                margin-bottom: $mb-20;
            }

            p {
                color: hsl(234deg 20% 80%);
                margin-bottom: $mb-40;
                line-height: 25px;
            }
        }
    }

    .laptop-design-wrapper {
        margin-bottom: $m-150;
        position: relative;

        .image-wrapper-desktop {
            position: absolute;
            left: -5%;
            top: 0;
            height: 600px;
            width: 600px;

            img {
                @include img-size
            }
        }

        .image-wrapper-mobile {
            display: none;
        }

        h3 {
            font-size: $fs-30;
            color: hsl(206deg 36% 21%);
            margin-bottom: $mb-20;
        }

        p {
            color: hsl(228deg 2% 54%);
            margin-bottom: $mb-40;
            line-height: 25px;
        }

        .right-side {
            padding-top: $pt-120;
        }
    }

}

@media(max-width:425px) {

    .section-wrapper {

        .sub-heading-text {
            font-size: $fs-30;
        }

        .design-wrapper {
            margin: 0px;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding: $p-30;

            .illustrator-desktop-wrapper {
                @include flex-center;
                width: 100%;
            }

            .image-wrapper-desktop {
                display: none;
            }

            .image-wrapper-mobile {
                height: 300px;
                width: auto;
                display: block;

                img {
                    @include img-size;
                }
            }

            .left-side {
                padding-top: 0px;
                width: 100%;
                @include text-center;
            }
        }

        .mobile-design-wrapper {
            margin-top: 50px;
            padding: $p-30;
            margin-bottom: 0;

            .bg-wrapper {
                background-position: top;
                background-size: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .image-section {
                    @include flex-center;
                    width: 100%;

                    .image-wrapper {
                        margin-left: 0px;
                        height: 350px;
                        width: auto;
                        position: unset;

                        img {
                            position: relative;
                            top: -25%;
                        }
                    }

                }

                .mobile-detail {
                    width: 100%;
                    padding-top: 0;
                  @include text-center;
                }
            }
        }

        .laptop-design-wrapper {
            @include flex-center;
            flex-direction: column;
            margin: 0px;
            padding: $p-30;

            .laptop-image {
                width: 100%;
                @include flex-center;

            }

            .image-wrapper-desktop {
                display: none;
            }

            .image-wrapper-mobile {
                height: 300px;
                width: auto;
                position: unset;
                display: block;

                img {
                    @include img-size;
                }
            }

            .right-side {
                padding-top: 0;
                width: 100%;
                @include text-center;
            }
        }
    }


}