* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Overpass", sans-serif;
}

body {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-end {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.overflow-auto {
  overflow: auto;
}

.overflow-y {
  overflow: auto;
}

.overflow-x {
  overflow: hidden;
}

.list-style {
  list-style: none;
}

.d-none {
  display: none;
}

.main-wrapper {
  background-color: hsl(8deg, 99%, 72%);
  border-bottom-left-radius: 100px;
  position: relative;
}

.wrapper {
  padding: 30px 70px;
  background: url(/images/bg-pattern-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .header-text {
  color: hsl(18deg, 100%, 98%);
  font-size: 40px;
  font-weight: 400;
  margin: 0px 30px;
}
.wrapper #checkbox_toggle {
  display: none;
}
.wrapper .nav-item {
  color: hsl(5deg, 96%, 90%);
  font-size: 16px;
  font-weight: bold;
  padding: 0px 15px;
  cursor: pointer;
}
.wrapper .nav-item .nav-icon {
  padding: 0px 10px;
}
.wrapper .nav-mobile {
  display: none;
}
.wrapper .left-header .login-text {
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
  font-size: 20px;
}
.wrapper .left-header button {
  color: hsl(347deg, 66%, 60%);
  font-size: 16px;
  font-weight: bolder;
  padding: 10px 35px;
  border-radius: 30px;
  border: none;
  margin: 0px 15px;
  cursor: pointer;
}
.wrapper .detail-wrapper {
  margin: 100px 0px;
}
.wrapper .detail-wrapper h1 {
  font-size: 60px;
  color: white;
  margin-bottom: 30px;
}
.wrapper .detail-wrapper p {
  font-size: 25px;
  color: hsl(12deg, 100%, 90%);
  margin-bottom: 40px;
}
.wrapper .detail-wrapper .free-btn {
  color: hsl(347deg, 66%, 60%);
  font-size: 16px;
  font-weight: bolder;
  padding: 20px 35px;
  border-radius: 30px;
  border: none;
  margin: 0px 15px;
  cursor: pointer;
}
.wrapper .detail-wrapper .learn-btn {
  color: hsl(347deg, 66%, 60%);
  font-size: 16px;
  font-weight: bolder;
  padding: 20px 35px;
  border-radius: 30px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background-color: hsl(0deg, 96%, 70%);
}
.wrapper .detail-wrapper .learn-btn:hover {
  color: hsl(0deg, 96%, 70%);
  background-color: white;
}

.toggle-icon {
  position: absolute;
  top: 5%;
  right: 10%;
  display: none;
}

@media (max-width: 375px) {
  .nav-desktop {
    display: none;
  }
  .toggle-icon {
    display: unset;
  }
  .main-wrapper {
    position: relative;
  }
  .wrapper .header-text {
    position: absolute;
    left: 0;
    top: 2%;
  }
  .wrapper .left-header {
    display: none;
  }
  .wrapper #checkbox_toggle:checked + .nav-mobile {
    position: absolute;
    top: 14%;
    left: 10%;
    right: 10%;
    display: block;
    background-color: hsl(0deg, 0%, 100%);
    padding: 20px;
  }
  .wrapper .nav-mobile .left-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper .nav-mobile .left-header .login-text {
    color: hsl(214deg, 20%, 28%);
    margin: 10px 0px;
  }
  .wrapper .nav-mobile .left-header button {
    color: hsl(0deg, 0%, 100%);
    background: linear-gradient(to right, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 35px;
    border-radius: 30px;
    border: none;
    margin: 0px 15px;
    cursor: pointer;
  }
  .wrapper .nav-mobile .nav-item {
    color: hsl(208deg, 49%, 24%);
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px;
    cursor: pointer;
  }
  .wrapper .nav-mobile .nav-item .nav-icon {
    padding: 0px 10px;
  }
  .wrapper .detail-wrapper {
    margin: 100px 0px;
  }
  .wrapper .detail-wrapper h1 {
    font-size: 40px;
    color: hsl(0deg, 0%, 100%);
    margin-bottom: 30px;
  }
  .wrapper .detail-wrapper p {
    font-size: 20px;
    color: hsl(12deg, 100%, 90%);
    margin-bottom: 20px;
  }
  .wrapper .detail-wrapper .btn-wrapper {
    display: flex;
  }
  .wrapper .detail-wrapper .free-btn {
    padding: 10px 25px;
    white-space: nowrap;
  }
  .wrapper .detail-wrapper .learn-btn {
    padding: 10px 25px;
    white-space: nowrap;
  }
}
.section-wrapper {
  margin-top: 100px;
}
.section-wrapper .sub-heading-text {
  text-align: center;
  font-size: 45px;
  color: hsl(206deg, 44%, 22%);
}
.section-wrapper .design-wrapper {
  margin-left: 150px;
  position: relative;
}
.section-wrapper .design-wrapper .left-side {
  padding-top: 120px;
}
.section-wrapper .design-wrapper h3 {
  font-size: 30px;
  color: hsl(206deg, 36%, 21%);
  margin-bottom: 20px;
}
.section-wrapper .design-wrapper p {
  color: hsl(228deg, 2%, 54%);
  margin-bottom: 40px;
  line-height: 25px;
}
.section-wrapper .design-wrapper .image-wrapper-desktop {
  position: absolute;
  right: -5%;
  top: 0;
  height: 600px;
  width: 600px;
  overflow: hidden;
}
.section-wrapper .design-wrapper .image-wrapper-desktop img {
  max-height: auto;
  width: 100%;
}
.section-wrapper .design-wrapper .image-wrapper-mobile {
  display: none;
}
.section-wrapper .mobile-design-wrapper {
  margin-top: 150px;
  background-color: hsl(236deg, 21%, 29%);
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  position: relative;
}
.section-wrapper .mobile-design-wrapper .bg-wrapper {
  background: url(/images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
.section-wrapper .mobile-design-wrapper .image-wrapper {
  height: 400px;
  width: 400px;
  margin-left: 150px;
  position: absolute;
  left: 0%;
  top: -25%;
}
.section-wrapper .mobile-design-wrapper .image-wrapper img {
  height: auto;
  width: 100%;
  margin-left: -25px;
}
.section-wrapper .mobile-design-wrapper .mobile-detail {
  padding-top: 80px;
}
.section-wrapper .mobile-design-wrapper .mobile-detail h3 {
  font-size: 30px;
  color: hsl(180deg, 100%, 100%);
  margin-bottom: 20px;
}
.section-wrapper .mobile-design-wrapper .mobile-detail p {
  color: hsl(234deg, 20%, 80%);
  margin-bottom: 40px;
  line-height: 25px;
}
.section-wrapper .laptop-design-wrapper {
  margin-top: 150px;
  position: relative;
}
.section-wrapper .laptop-design-wrapper .image-wrapper-desktop {
  position: absolute;
  left: -5%;
  top: 0;
  height: 600px;
  width: 600px;
  overflow: hidden;
}
.section-wrapper .laptop-design-wrapper .image-wrapper-desktop img {
  height: auto;
  width: 100%;
}
.section-wrapper .laptop-design-wrapper .image-wrapper-mobile {
  display: none;
}
.section-wrapper .laptop-design-wrapper h3 {
  font-size: 30px;
  color: hsl(206deg, 36%, 21%);
  margin-bottom: 20px;
}
.section-wrapper .laptop-design-wrapper p {
  color: hsl(228deg, 2%, 54%);
  margin-bottom: 40px;
  line-height: 25px;
}
.section-wrapper .laptop-design-wrapper .right-side {
  padding-top: 120px;
}

@media (max-width: 375px) {
  .section-wrapper .sub-heading-text {
    font-size: 30px;
  }
  .section-wrapper .design-wrapper {
    margin: 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 30px;
  }
  .section-wrapper .design-wrapper .illustrator-desktop-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section-wrapper .design-wrapper .image-wrapper-desktop {
    display: none;
  }
  .section-wrapper .design-wrapper .image-wrapper-mobile {
    height: 300px;
    width: auto;
    display: block;
  }
  .section-wrapper .design-wrapper .image-wrapper-mobile img {
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .section-wrapper .design-wrapper .left-side {
    padding-top: 0px;
    width: 100%;
  }
  .section-wrapper .design-wrapper .left-side h3 {
    text-align: center;
  }
  .section-wrapper .design-wrapper .left-side p {
    text-align: center;
  }
  .section-wrapper .mobile-design-wrapper {
    margin-top: 50px;
    padding: 30px;
  }
  .section-wrapper .mobile-design-wrapper .bg-wrapper {
    background-position: top;
    background-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-wrapper .mobile-design-wrapper .bg-wrapper .image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section-wrapper .mobile-design-wrapper .bg-wrapper .image-section .image-wrapper {
    margin-left: 0px;
    height: 350px;
    width: auto;
    position: unset;
  }
  .section-wrapper .mobile-design-wrapper .bg-wrapper .image-section .image-wrapper img {
    position: relative;
    top: -25%;
  }
  .section-wrapper .mobile-design-wrapper .bg-wrapper .mobile-detail {
    width: 100%;
    padding-top: 0;
  }
  .section-wrapper .mobile-design-wrapper .bg-wrapper .mobile-detail h3 {
    text-align: center;
  }
  .section-wrapper .mobile-design-wrapper .bg-wrapper .mobile-detail p {
    text-align: center;
  }
  .section-wrapper .laptop-design-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 30px;
  }
  .section-wrapper .laptop-design-wrapper .laptop-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-wrapper .laptop-design-wrapper .image-wrapper-desktop {
    display: none;
  }
  .section-wrapper .laptop-design-wrapper .image-wrapper-mobile {
    height: 300px;
    width: auto;
    position: unset;
    display: block;
  }
  .section-wrapper .laptop-design-wrapper .image-wrapper-mobile img {
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .section-wrapper .laptop-design-wrapper .right-side {
    padding-top: 0;
    width: 100%;
  }
  .section-wrapper .laptop-design-wrapper .right-side h3 {
    text-align: center;
  }
  .section-wrapper .laptop-design-wrapper .right-side p {
    text-align: center;
  }
}
.footer-wrapper {
  margin-top: 150px;
  background-color: hsl(232deg, 10%, 16%);
  padding: 50px 150px;
  border-top-right-radius: 100px;
}
.footer-wrapper h3 {
  color: white;
  font-size: 40px;
}
.footer-wrapper .nav-wrapper {
  margin-left: 100px;
}
.footer-wrapper nav {
  padding: 0px 100px;
}
.footer-wrapper nav ul {
  list-style: none;
}
.footer-wrapper nav ul li {
  margin: 15px 0px;
  color: hsl(0deg, 0%, 100%);
  opacity: 50%;
}
.footer-wrapper nav ul li:first-child {
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 40px;
  opacity: 100%;
}

@media (max-width: 375px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .footer-wrapper .nav-wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
