* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-end {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.overflow-auto {
  overflow: auto;
}

.list-style {
  list-style: none;
}

.main-wrapper {
  background-color: hsl(8deg, 99%, 72%);
  border-bottom-left-radius: 100px;
}

.wrapper {
  padding: 30px 70px;
  background: url(/images/bg-pattern-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .header-text {
  color: #fef8f8;
  font-size: 40px;
  font-weight: 400;
  margin: 0px 30px;
}
.wrapper .nav-item {
  color: hsl(5deg, 96%, 90%);
  font-size: 16px;
  font-weight: bold;
  padding: 0px 15px;
}
.wrapper .nav-item .nav-icon {
  padding: 0px 10px;
}
.wrapper .left-header .login-text {
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.wrapper .left-header button {
  color: hsl(347deg, 66%, 60%);
  font-size: 16px;
  font-weight: bolder;
  padding: 10px 35px;
  border-radius: 30px;
  border: none;
  margin: 0px 15px;
  cursor: pointer;
}
.wrapper .detail-wrapper {
  margin: 100px 0px;
}
.wrapper .detail-wrapper h1 {
  font-size: 60px;
  color: white;
  margin-bottom: 30px;
}
.wrapper .detail-wrapper p {
  font-size: 25px;
  color: hsl(12deg, 100%, 90%);
  margin-bottom: 40px;
}
.wrapper .detail-wrapper .free-btn {
  color: hsl(347deg, 66%, 60%);
  font-size: 16px;
  font-weight: bolder;
  padding: 20px 35px;
  border-radius: 30px;
  border: none;
  margin: 0px 15px;
  cursor: pointer;
}
.wrapper .detail-wrapper .learn-btn {
  color: white;
  font-size: 16px;
  font-weight: bolder;
  padding: 20px 35px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: hsl(0deg, 96%, 70%);
  cursor: pointer;
}

.section-wrapper {
  margin-top: 100px;
}
.section-wrapper .sub-heading-text {
  text-align: center;
  font-size: 45px;
  color: hsl(206deg, 44%, 22%);
}
.section-wrapper .design-wrapper {
  margin-left: 150px;
  position: relative;
}
.section-wrapper .design-wrapper .left-side {
  padding-top: 120px;
}
.section-wrapper .design-wrapper h3 {
  font-size: 30px;
  color: hsl(206deg, 36%, 21%);
  margin-bottom: 20px;
}
.section-wrapper .design-wrapper p {
  color: hsl(228deg, 2%, 54%);
  margin-bottom: 40px;
  line-height: 25px;
}
.section-wrapper .design-wrapper .image-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 600px;
  width: 600px;
}
.section-wrapper .design-wrapper .image-wrapper img {
  height: auto;
  width: 100%;
  overflow: hidden;
}
.section-wrapper .mobile-design-wrapper {
  margin-top: 100px;
  background-color: hsl(236deg, 21%, 29%);
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  position: relative;
}
.section-wrapper .mobile-design-wrapper .bg-wrapper {
  background: url(/images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-wrapper .mobile-design-wrapper .image-wrapper {
  height: 400px;
  width: 400px;
  overflow: hidden;
  position: absolute;
  left: 6%;
  top: -20%;
}
.section-wrapper .mobile-design-wrapper .image-wrapper img {
  height: auto;
  width: 100%;
}
.section-wrapper .mobile-design-wrapper .mobile-detail {
  padding-top: 80px;
}
.section-wrapper .mobile-design-wrapper .mobile-detail h3 {
  font-size: 30px;
  color: hsl(180deg, 100%, 100%);
  margin-bottom: 20px;
}
.section-wrapper .mobile-design-wrapper .mobile-detail p {
  color: hsl(234deg, 20%, 80%);
  margin-bottom: 40px;
  line-height: 25px;
}
.section-wrapper .laptop-design-wrapper {
  margin-top: 100px;
}
.section-wrapper .laptop-design-wrapper .image-wrapper {
  height: 600px;
  width: 600px;
}
.section-wrapper .laptop-design-wrapper .image-wrapper img {
  height: auto;
  width: 100%;
  overflow: hidden;
}
.section-wrapper .laptop-design-wrapper h3 {
  font-size: 30px;
  color: hsl(206deg, 36%, 21%);
  margin-bottom: 20px;
}
.section-wrapper .laptop-design-wrapper p {
  color: hsl(228deg, 2%, 54%);
  margin-bottom: 40px;
  line-height: 25px;
}
.section-wrapper .laptop-design-wrapper .right-side {
  padding-top: 120px;
}

/*# sourceMappingURL=style.css.map */
